{% extends '../base_login.html' %}
	{% block content %}
	    <h1>Login</h1>
	    {% if form.errors %}
	    <p>Su nombre de Usuario y su contraseña no coinciden , intenetalo de nuevo</p>
	    {% endif %}
	    {% if next %}
	        {% if user.is_authenticated %}
	        	<p>imposible acceso intenta con otra cuenta</p>
	        {% else %}
	        	<p>Por favor inicie sesión </p>
	        {% endif %}
	    {% endif %}
	    <form method="post" action="{% url 'login' %}">
	    	{% csrf_token %}
	    <div class="login-content">
	        <form action="index.html" method="GET" class="margin-bottom-0">
	            <div class="form-group m-b-20">
	                <input type="text" class="form-control form-control-lg" placeholder="Nombre de Usuario" name="username" />
	                
	            </div>
	            <div class="form-group m-b-20">
	                <input type="password" class="form-control form-control-lg" placeholder="Contraseña" name="password" />
	                
	            </div>
	            <div class="login-buttons">
	                <button type="submit" class="btn btn-success btn-block btn-lg">Iniciar sesión</button>
	                <input type="hidden" name="next" value="{{ next }}" />
	            </div>
	        </form>
	        <!-- {# Assumes you setup the password_reset view in your URLconf #} -->
	        <!-- <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p> -->
	    </div>

	{% endblock %}