{% extends './base.html' %}
{% load static %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">
  	<head>
    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Añadir Pago</title>
		<br>

	</head>
	<body>
		<form method='POST'>
			{% csrf_token %}
			{{ pago_form.as_p }}
			<button type="submit" class="btn btn-primary">¿Decesas Añadir un pago?</button>
		</form>
		<td align="center">
			<a class="btn btn-primary" href="{% url 'mis_pagos' %}">Ver mis Pagos realizados</a>
			<br>
		</br>
		</td>
	</body>
</html>

{% endblock %}