{% extends './base.html' %}

{% load static %}
{% block content %} 


<!DOCTYPE html>
<html lang="es-cl">
  	<head>
    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>MIS DEUDAS</title>
	</head>
	<h1 align="center">MIS DEUDAS</h1>
	<table class="table table-bordered" border=1>
		<thead>
			<tr>
				<td align="center">Producto</td>
				<td align="center">Monto</td>
				<td align="center">Categoria</td>
				<td align="center">Pagador</td>
				<td align="center">Accion</td>
			</tr>
		</thead>
		<tbody>
			{% if deudas %}
			{% for deuda in deudas %}
			<tr>
				<td align="center">{{ deuda.producto }}</td>
				<td align="center">{{ deuda.monto }}</td>
				<td align="center">{{ deuda.categoria }}</td>
				<td align="center">{{ deuda.pagador }}</td>
				<td align="center"><a href="{% url 'pagar_deuda' %}">Pagar</a></td>
			</tr>
			{% endfor %}
			
			{% else %}
			<h1>No hay deudas.</h1>

			{% endif %}
		</tbody>
	</table>
</html>

{% endblock %}