{% extends './base.html' %}

{% load static %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">
  	<head>
    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Pagar deuda</title>
	</head>
	<body>
		<p>Vas a pagar {{deuda.monto}}</p>

		<form method='POST'>
			{% csrf_token %}
			{{ pago_deuda_form.as_p }}
			<button type="submit">Pagar Deuda</button>
		</form>
	</body>
</html>


{% endblock %}